@import '../../../utils/variables.scss';

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;

  &__background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 800px;

    background-color: $white-color;
    border: 0px;
    box-shadow: 0px 3px 13px $shadow-color;
    border-radius: 5px;
    margin: 16px;
  }

  &__title {
    color: $main-font-color;
    letter-spacing: 1px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid $border-color;
  }

  &__body {
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 30px;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: $green-color;
    height: 100%;
  }

  &__buttons {
    display: flex;
    padding: 30px;
  }

  &__button {
    border-radius: 30px;
    border: 0;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: transparent;
    color: $white-color;
    cursor: pointer;

    &--delete {
      display: flex;
      align-items: center;
      background-color: $white-color;
      color: $red-color;

      &-icon {
        height: 20px;
        padding-right: 10px;
      }
    }

    &--close {
      position: absolute;
      top: -25px;
      right: -20px;
      border: 0;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0px 3px 13px $shadow-color;
      color: $light-gray;
      background-color: $white-color;
      padding: 15px;
    }
  }
}
