$shadow-color: rgba(0, 0, 0, 0.3);
$white-color: #fff;
$border-color: #CFD8DC;
$background-main-color: rgb(240, 243, 245);
$main-font-color: #2C3C44;
$light-gray: #90A4AE;
$dark-gray: #647B85;
$green-color: #88C049;
$red-color: #E8364F;
$gap: 20px;
$basis: 150px;