.modal__button--close {
  position: absolute;
  top: -25px;
  right: -20px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
  color: #90A4AE;
  background-color: #fff;
  padding: 15px;
}